nav {
	display: inline-block;
	list-style-type: none;
}

div {

}

.departments {
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}

footer{
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
}

ul {
	padding-left: 0;
}